body {
  font-family: "Poppins",
 sans-serif;
  color: #000000;
  
  
  
}

.layout_padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 120px;
}

.layout_padding-bottom {
  padding-bottom: 120px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container img {
  max-width: 50px;
  border-radius: 10px;
}

.heading_container h2 {
  font-weight: bold;
}

/*header section*/
.hero_area {
  height: 100vh;
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(https://wallpaper.dog/large/20492255.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  
}

.hero_area::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 85%;
  
} 

.sub_page .hero_area {
  height: auto;
  background: none;
}

.sub_page .hero_area::before {
  width: 225px;
  height: 110px;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
  color: #060606;
  text-align: center;
  text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  color: #f1f7f1;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 65px;
  border-radius: 50%;
}


.custom_nav-container {
  z-index: 99999;
  padding: 0;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 50px;
  width: 30px;
  height: 30px;
}

.lg_toggl-btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 56px;
  height: 40px;
  cursor: pointer;
}

.lg_toggl-btn:focus {
  outline: none;
}

.User_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 75px;
}

.User_option .form-inline {
  position: relative;
  margin-right: 15px;
}

.User_option .form-inline input {
  display: none;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 15px;
  top: 7px;
}

.custom_menu-btn button {
  margin-top: 14px;
  outline: none;
  border: none;
  background-color: transparent;
}

.custom_menu-btn button span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}

.menu_btn-style {
  position: fixed;
  right: 29px;
  top: 7px;
}

.custom_menu-btn .s-2 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 22px;
  margin-left: auto;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translateY(16px);
          transform: rotate(45deg) translateY(16px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translateY(-16px);
          transform: rotate(-45deg) translateY(-16px);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(65deg, #f3ec78, #af4261,rgb(115, 150, 190));
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color:#000000;
}


.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
  color:#000000;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: rgb(19, 13, 0);
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  opacity: 1;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  color:#000000;
}

.menu_width {
  width: 100%;
}

.menu_width.overlay a {
  opacity: 1;
}
 .slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
} 




.slider_section .detail-box h1 {
  font-weight: bold;
  -webkit-text-stroke: #000000 2px;
  font-size: 5rem;
  padding-bottom: 15px;
  position: relative;
  background-image: linear-gradient(65deg, #0aaaf5, #ebc20b,rgb(115, 150, 190));
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  border-radius: 10px;
  width: fit-content;
}

.slider_section .detail-box h1 span {
  
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px -5px 0 -5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  width: 165px;
  text-align: center;
}

.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 10px 0px;
  background-color: rgb(247, 162, 176);
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #0a2050;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #f9fbff;
 
}

.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 10px 0px;
  background-color: rgb(247,162,176);
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #050505;
  border-radius: 5px;
  font-weight: bold;
  text-decoration:none;
}

.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #f9fbff;
}

.slider_section .img-box img {
  max-width: 100%;
}

.slider_section #carouselExampleIndicators {
  width: 100%;
}

.slider_section .carousel-indicators {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: none;
  border: 2px solid #90EE90;
  color: #000000;
  position: relative;
  margin: 0 4px;
  border-radius: 100%;
}

.slider_section .carousel-indicators li.active {
  width: 18px;
  height: 18px;
}

.slider_section .li_before::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 3.5px;
  width: 1.5px;
  height: 17px;
  background-color:#90EE90;
  border-radius: 5px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}
.about_section .detail-box .heading_container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.about_section{
  background-color: #a0c6f1;
}

.about_section .detail-box .heading_container h2 {
  color: #a0c6f1;
 
}
.os_section {
  background-image: linear-gradient(65deg, #f3ec78, #af4261,rgb(115, 150, 190));
  background-size: cover;
  color: rgb(255, 255, 255);
}

.os_section .platforms_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.os_section .platforms_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 45px 2.5%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.os_section .platforms_section .box .img-box {
  border-radius: 25px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.os_section .platforms_section .box .img-box img {
  width: 100%;
}

.os_section .platforms_section .box .detail-box {
  margin-top: 15px;
}

.os_section .platforms_section .box .detail-box h5 {
  font-weight: bold;
}

.platforms_section .img-box{
  transition: .3s ease-in-out;
}
.platforms_section .img-box:hover{
  background-color:#ebd67c;
 
}
.demanded_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          
}
.demanded_section{
  background-color: white;
  background:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(https://t3.ftcdn.net/jpg/03/57/88/88/360_F_357888819_XvattGqyaKLQtZ9JfW1QVTRVTaLkItug.jpg);
  background-position: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  color:#ebc20b;
  text-decoration: none;
}
.demanded_section a{
  color:whitesmoke;
}
.demanded_section .img-box {
  position: relative;
  padding-right: 45px;
}

.demanded_section .img-box img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.demanded_section .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: -145px;
  width: 100%;
  height: 110%;
  
  z-index: 1;
  background-repeat: no-repeat;
}

.demanded_section .detail-box p {
  color: #0e0e0e;
  margin-top: 15px;
}

.demanded_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.demanded_section .detail-box .btn-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-transform: uppercase;
}

.demanded_section .detail-box .btn-box a img {
  margin-left: 5px;
}

/* footer section*/
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          background-color: #ffffff;
  color: #000000;
  align-items: center;
}

.footer_section p {
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 25px 0 20px 0;
  margin: 0 auto;
  text-align: center;
}

